body{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.button1{
    margin: 25px;
    background-color: darkred;
    color: white;
    display: flex;
    text-align: center;
    border-radius: 10px;
    min-width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.button2{
    margin: 25px;
    background-color: darkgreen;
    color: white;
    display: flex;
    text-align: center;
    border-radius: 10px;
    min-width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.color{
    background-color: navy;
}
.color1{
    background-color: purple;
}
h3{
    padding: 20px;
}
a{
    text-decoration: none;
}